name: Build and push to GHCR

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Set image name
        id: img
        run: |
          # github.repository = OWNER/REPO
          IMAGE="ghcr.io/${GITHUB_REPOSITORY,,}"
          echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT

      - name: Get short SHA
        id: vars
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.img.outputs.IMAGE }}:latest
            ${{ steps.img.outputs.IMAGE }}:${{ steps.vars.outputs.SHORT_SHA }}
       
